.btn{
    width: 100px;
    padding: 10px;
    margin : 10px 210px 0 0;
    border: none;
    background: #525554;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: left;
}